.main-dashboard{
    margin-top: 20px;
}


.dashboard__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

.dashboard__container {
flex: 1;
margin: 0px 20px;
padding: 30px;
border-radius: 10px;
cursor: pointer;
-webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.dashboard__title{
    font-size: 20px;
    font-weight: 700;
    color: #6c757d;
}

.dashboard__cards{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.dashboard__span{
    font-size: 30px;
    font-weight: 600;
}

.people__card{
    display: flex;
    justify-content: space-between;
}

.page__btn{
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.btn_pag{
    border: 1px solid #ccc;
    border-radius: 2px;
    cursor: pointer;
}

.page__span{
    color: #6c757d;
}



.search_box{
    display: flex;
    align-items: center;
    padding: 2px;
    background-color: #f2f7f8;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  .search_box input::placeholder{
    font-size: 14px;
  }
  
  .search_box input {
    background: transparent;
    border: none;
    outline: none;
    padding: 1px;
    font-size: 12px;
    width: 200px;
  }
  
  .search_box .search_box_icon{
    color: #adb5bd;
    cursor: pointer;
  }